.oit-fluid-container{
  width: 100%;
}
.oit-fluid-container .oit-row{
  margin: 16px auto;
  max-width: 1224px;
  background-color: red;
}


@media (max-width: 768px) {
  .oit-fluid-container .oit-row{
    margin: 16px;
    background-color: yellow;
  }
}