<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--    th:text="#{nycbusiness.title(${title})}"-->
    <title>How To Guide</title>
    <meta name="description" content="How To Guide">
    <script type="text/javascript" src="/nycbusiness/ruxitagentjs_ICA7NVfqrux_10317250630095842.js"
        data-dtconfig="app=ea7c4b59f27d43eb|owasp=1|featureHash=ICA7NVfqrux|rdnt=1|uxrgce=1|srcss=0|cuc=x8kxxto7|srxcss=0|srxicss=0|mel=100000|expw=1|dpvc=1|lastModification=1753719699092|tp=500,50,0|agentUri=/nycbusiness/ruxitagentjs_ICA7NVfqrux_10317250630095842.js|reportUrl=/nycbusiness/rb_bf46289yka|rid=RID_438774250|rpid=472995878|domain=csc.nycnet"></script>
    <script src="https://universal-editor-service.adobe.io/cors.js" async></script>
    <meta name="urn:adobe:aue:system:aem" content="aem:https://author-p111053-e1081006.adobeaemcloud.com">

    <link rel="icon" href="/nycbusiness/static/img/reskin/NYCFaviconIcon.ico" />
    <link rel="apple-touch-icon" href="static/img/reskin/NYCFaviconIcon.ico" />

    <meta name="_csrf"
        content="5BT2x3DmfdheGylImOpd09vcQN3lHvXlO9UHHYeP6FxOyfqI1C3E8ULUTr5zKRl6_Mdp5b-_bb_QfZTIA-01KLO3i2ooqMq9">
    <meta name="_csrf_header" content="X-CSRF-TOKEN">

    <link rel="stylesheet" href="/nycbusiness/static/css/reskin/main.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/nycbusiness/static/css/network-polyfill/material-components-web.min.css"
        media="screen" type="text/css" />




    <script nonce="R3dXR47yE6P2L6JJSQTsQg==" src="/nycbusiness/static/js/libs/jquery-1.9.1.js"
        type="text/javascript"></script>

    <script nonce="R3dXR47yE6P2L6JJSQTsQg=="
        src="/nycbusiness/static/js/network-polyfill/material-components-web.min.js"></script>

    <script nonce="R3dXR47yE6P2L6JJSQTsQg==" type="text/javascript"
        src="https://apps-dev.csc.nycnet/doittcaptchaservice/generate.htm?userName=nycb-portal-v3"></script>
    <link rel="alternate" hreflang="ar" href="https://ar.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="ru" href="https://ru.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="ko" href="https://ko.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="en" href="https://business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="ht" href="https://ht.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="fr" href="https://fr.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="pl" href="https://pl.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="bn" href="https://bn.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="ur" href="https://ur.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="zh-CN" href="https://zh.business-dev.csc.nycnet/nycbusiness/howtoguide" />
    <link rel="alternate" hreflang="es" href="https://es.business-dev.csc.nycnet/nycbusiness/howtoguide" />


    <meta name="keywords" content="dashboard, guide ">
    <meta name="description" content="This is the online manual for the My Dashboard.">
    <script nonce="R3dXR47yE6P2L6JJSQTsQg==" src="/nycbusiness/static/js/libs/jquery.waypoints.js"
        type="text/javascript"></script>
    <script nonce="R3dXR47yE6P2L6JJSQTsQg==" src="/nycbusiness/static/js/libs/waypoints-sticky.js"
        type="text/javascript"></script>



    <meta name="google-site-verification" content="Validation-Key-Goes_Here" />


</head>

<body>
    <a class="skip-main" href="#main">
        Skip to main content
    </a>
    <header>
        <div class="logo-band-wrapper">
            <div class="logo-band">
                <div class="nav-logo">
                    <a href="https://nycmycity--qa.sandbox.my.site.com/s/" class="block-link">
                        <img src="/nycbusiness/static/img/reskin/NYC-logo-white.svg" class="nav-logo-img" alt="NYC" />
                        MyCity
                    </a>
                    Official website of the City of New York
                </div>

            </div>
        </div>
        <nav>
            <ul class="clean-list main-nav-desktop">
                <li class="nav-tag-line"><a href="/nycbusiness/" class="block-link">Business</a></li>
                <li class="nav-icon nav-mobile-menu">
                    <a href="#" class="block-link hidden-text" data-menu-id="mobile-menu" aria-expanded="false"
                        aria-controls="mobile-menu-submenu"><span>Open Menu</span></a>
                    <nav class="nav-submenu nav-submenu-text-list nav-submenu-mobile" data-submenu-for="mobile-menu"
                        id="mobile-menu-submenu" role="presentation">
                        <h2 class="nav-submenu-title">Menu</h2>
                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close Menu</span></a>
                        <div class="nav-submenu-main">
                            <ul class="clean-list nav-submenu-items" role="menu">
                                <li class="nav-link">
                                    <a href="#" class="block-link" aria-expanded="false"
                                        aria-controls="resources-by-industry-submenu" data-menu-id="menu-1">Resources by
                                        Industry</a>
                                    <nav id="resources-by-industry-submenu" role="presentation"
                                        data-submenu-for="menu-1"
                                        class="nav-submenu nav-submenu-text-list nav-submenu-text-9-row-list">
                                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                                            aria-controls="mobile-menu-submenu">
                                            <span>Back to Main Menu</span>
                                        </a>
                                        <h2 class="nav-submenu-title">Resources by Industry</h2>
                                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close
                                                Menu</span></a>
                                        <ul class="clean-list nav-submenu-items">

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/autorepairshop"
                                                        class="simplified-header-text">Auto Repair Shop</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/bar"
                                                        class="simplified-header-text">Bar</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/contractor"
                                                        class="simplified-header-text">Contractor</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/conveniencestore"
                                                        class="simplified-header-text">Convenience Store</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/daycare"
                                                        class="simplified-header-text">Day Care</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/doctorsoffice"
                                                        class="simplified-header-text">Doctor&#39;s Office</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/drycleaner"
                                                        class="simplified-header-text">Dry Cleaner</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/foodmanufacturer"
                                                        class="simplified-header-text">Food Manufacturer </a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/generalretail"
                                                        class="simplified-header-text">General Retail</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/goods-manufacturer"
                                                        class="simplified-header-text">Goods Manufacturer </a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/grocerystore"
                                                        class="simplified-header-text">Grocery Store</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/healthclub"
                                                        class="simplified-header-text">Health Club</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/pharmacy"
                                                        class="simplified-header-text">Pharmacy</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/professionaloffice"
                                                        class="simplified-header-text">Professional Office</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/restaurant"
                                                        class="simplified-header-text">Restaurant</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/salon"
                                                        class="simplified-header-text">Salon</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/resources-by-industry/urban-agriculture"
                                                        class="simplified-header-text">Urban Agriculture </a>


                                                </div>
                                            </li>

                                        </ul>
                                    </nav>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="block-link" aria-expanded="false"
                                        aria-controls="business-services-submenu" data-menu-id="menu-2">Business
                                        Services</a>
                                    <nav id="business-services-submenu" role="presentation" data-submenu-for="menu-2"
                                        class="nav-submenu nav-submenu-text-list nav-submenu-text-5-row-list">
                                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                                            aria-controls="mobile-menu-submenu">
                                            <span>Back to Main Menu</span>
                                        </a>
                                        <h2 class="nav-submenu-title">Business Services</h2>
                                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close
                                                Menu</span></a>
                                        <ul class="clean-list nav-submenu-items">

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/certifications"
                                                        class="simplified-header-text">Certifications</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/education-programs"
                                                        class="simplified-header-text">Education Programs</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/financial-assistance"
                                                        class="simplified-header-text">Financial Assistance</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/incentives"
                                                        class="simplified-header-text">Incentives</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/initiatives"
                                                        class="simplified-header-text">Initiatives</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/legal-assistance"
                                                        class="simplified-header-text">Legal Assistance</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/mentorship"
                                                        class="simplified-header-text">Mentorship</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/recruitment-and-training"
                                                        class="simplified-header-text">Recruitment and Training</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/business-services/regulatory-assistance"
                                                        class="simplified-header-text">Regulatory Assistance</a>


                                                </div>
                                            </li>

                                        </ul>
                                    </nav>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="block-link" aria-expanded="false"
                                        aria-controls="emergency-preparedness-submenu" data-menu-id="menu-3">Emergency
                                        Preparedness</a>
                                    <nav id="emergency-preparedness-submenu" role="presentation"
                                        data-submenu-for="menu-3"
                                        class="nav-submenu nav-submenu-text-list nav-submenu-text-2-row-list">
                                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                                            aria-controls="mobile-menu-submenu">
                                            <span>Back to Main Menu</span>
                                        </a>
                                        <h2 class="nav-submenu-title">Emergency Preparedness</h2>
                                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close
                                                Menu</span></a>
                                        <ul class="clean-list nav-submenu-items">

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/emergency-preparedness/business-preparedness-and-resiliency-program"
                                                        class="simplified-header-text">Business Preparedness and
                                                        Resiliency Program</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/emergency-preparedness/insurance-and-emergency-assistance"
                                                        class="simplified-header-text">Insurance and Emergency
                                                        Assistance</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/emergency-preparedness/emergency-preparedness-resources"
                                                        class="simplified-header-text">Emergency Preparedness Resources
                                                    </a>


                                                </div>
                                            </li>

                                        </ul>
                                    </nav>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="block-link" aria-expanded="false"
                                        aria-controls="regulations-submenu" data-menu-id="menu-4">Regulations</a>
                                    <nav id="regulations-submenu" role="presentation" data-submenu-for="menu-4"
                                        class="nav-submenu nav-submenu-text-list nav-submenu-text-1-row-list">
                                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                                            aria-controls="mobile-menu-submenu">
                                            <span>Back to Main Menu</span>
                                        </a>
                                        <h2 class="nav-submenu-title">Regulations</h2>
                                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close
                                                Menu</span></a>
                                        <ul class="clean-list nav-submenu-items">

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/index"
                                                        class="simplified-header-text">Regulations Index</a>


                                                </div>
                                            </li>

                                        </ul>
                                    </nav>
                                </li>
                                <li class="nav-link">
                                    <a href="#" class="block-link" aria-expanded="false" aria-controls="tools-submenu"
                                        data-menu-id="menu-5">Tools</a>
                                    <nav id="tools-submenu" role="presentation" data-submenu-for="menu-5"
                                        class="nav-submenu nav-submenu-text-list nav-submenu-text-2-row-list">
                                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                                            aria-controls="mobile-menu-submenu">
                                            <span>Back to Main Menu</span>
                                        </a>
                                        <h2 class="nav-submenu-title">Tools</h2>
                                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close
                                                Menu</span></a>
                                        <ul class="clean-list nav-submenu-items">

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/wizard"
                                                        class="simplified-header-text">Step-by-Step Wizard </a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/ie" class="simplified-header-text">Incentives
                                                        Estimator</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/bprep"
                                                        class="simplified-header-text">Emergency Preparedness
                                                        Self-Assessment Tool</a>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="block-link">

                                                    <a href="/nycbusiness/status" class="simplified-header-text">Search
                                                        My Transactions</a>


                                                </div>
                                            </li>

                                        </ul>
                                    </nav>
                                </li>
                                <li><a href="/nycbusiness/mydashboard" class="block-link">My Business Dashboard</a></li>
                            </ul>
                        </div>

                    </nav>
                </li>

                <li class="nav-link">
                    <a href="#" class="block-link" aria-expanded="false" aria-controls="resources-by-industry-submenu"
                        data-menu-id="menu-1">Resources by Industry</a>
                    <nav id="resources-by-industry-submenu" role="presentation" data-submenu-for="menu-1"
                        class="nav-submenu nav-submenu-text-list nav-submenu-text-9-row-list">
                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                            aria-controls="mobile-menu-submenu">
                            <span>Back to Main Menu</span>
                        </a>
                        <h2 class="nav-submenu-title">Resources by Industry</h2>
                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close Menu</span></a>
                        <ul class="clean-list nav-submenu-items">

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/autorepairshop"
                                        class="simplified-header-text">Auto Repair Shop</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/bar"
                                        class="simplified-header-text">Bar</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/contractor"
                                        class="simplified-header-text">Contractor</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/conveniencestore"
                                        class="simplified-header-text">Convenience Store</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/daycare"
                                        class="simplified-header-text">Day Care</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/doctorsoffice"
                                        class="simplified-header-text">Doctor&#39;s Office</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/drycleaner"
                                        class="simplified-header-text">Dry Cleaner</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/foodmanufacturer"
                                        class="simplified-header-text">Food Manufacturer </a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/generalretail"
                                        class="simplified-header-text">General Retail</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/goods-manufacturer"
                                        class="simplified-header-text">Goods Manufacturer </a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/grocerystore"
                                        class="simplified-header-text">Grocery Store</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/healthclub"
                                        class="simplified-header-text">Health Club</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/pharmacy"
                                        class="simplified-header-text">Pharmacy</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/professionaloffice"
                                        class="simplified-header-text">Professional Office</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/restaurant"
                                        class="simplified-header-text">Restaurant</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/salon"
                                        class="simplified-header-text">Salon</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/resources-by-industry/urban-agriculture"
                                        class="simplified-header-text">Urban Agriculture </a>


                                </div>
                            </li>

                        </ul>
                    </nav>
                </li>
                <li class="nav-link">
                    <a href="#" class="block-link" aria-expanded="false" aria-controls="business-services-submenu"
                        data-menu-id="menu-2">Business Services</a>
                    <nav id="business-services-submenu" role="presentation" data-submenu-for="menu-2"
                        class="nav-submenu nav-submenu-text-list nav-submenu-text-5-row-list">
                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                            aria-controls="mobile-menu-submenu">
                            <span>Back to Main Menu</span>
                        </a>
                        <h2 class="nav-submenu-title">Business Services</h2>
                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close Menu</span></a>
                        <ul class="clean-list nav-submenu-items">

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/certifications"
                                        class="simplified-header-text">Certifications</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/education-programs"
                                        class="simplified-header-text">Education Programs</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/financial-assistance"
                                        class="simplified-header-text">Financial Assistance</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/incentives"
                                        class="simplified-header-text">Incentives</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/initiatives"
                                        class="simplified-header-text">Initiatives</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/legal-assistance"
                                        class="simplified-header-text">Legal Assistance</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/mentorship"
                                        class="simplified-header-text">Mentorship</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/recruitment-and-training"
                                        class="simplified-header-text">Recruitment and Training</a>


                                </div>
                            </li>

                            <li>
                                <div class="block-link">

                                    <a href="/nycbusiness/business-services/regulatory-assistance"
                                        class="simplified-header-text">Regulatory Assistance</a>


                                </div>
                            </li>

                        </ul>
                    </nav>
                </li>
                <li class="nav-link">
                    <a href="#" class="block-link" aria-expanded="false" aria-controls="emergency-preparedness-submenu"
                        data-menu-id="menu-3">Emergency Preparedness</a>
                    <nav id="emergency-preparedness-submenu" role="presentation" data-submenu-for="menu-3"
                        class="nav-submenu nav-submenu-graphical-list">
                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                            aria-controls="mobile-menu-submenu">
                            <span>Back to Main Menu</span>
                        </a>
                        <h2 class="nav-submenu-title">Emergency Preparedness</h2>
                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close Menu</span></a>
                        <ul class="clean-list nav-submenu-items">

                            <li>
                                <div class="block-link">


                                    <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/blue-icons/local_hospital.png"
                                        alt="chuck test" aria-hidden="true">
                                    <h3 class="nav-submenu-item-heading">Business Preparedness and Resiliency Program
                                    </h3>
                                    <p class="ui-content-small"> View information from the organizations that support
                                        businesses in preparing their employees, services, and facilities for
                                        emergencies. </p>
                                    <a href="/nycbusiness/emergency-preparedness/business-preparedness-and-resiliency-program"
                                        class="ui-content-small nav-submenu-item-faux-link-styled"
                                        aria-label="View More Business Preparedness and Resiliency Program">View
                                        More</a>

                                </div>
                            </li>

                            <li>
                                <div class="block-link">


                                    <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/blue-icons/currency_exchange.png"
                                        aria-hidden="true">
                                    <h3 class="nav-submenu-item-heading">Insurance and Emergency Assistance</h3>
                                    <p class="ui-content-small"> Find ways to ensure your business is financially
                                        prepared in case of an emergency. </p>
                                    <a href="/nycbusiness/emergency-preparedness/insurance-and-emergency-assistance"
                                        class="ui-content-small nav-submenu-item-faux-link-styled"
                                        aria-label="View More Insurance and Emergency Assistance">View More</a>

                                </div>
                            </li>

                            <li>
                                <div class="block-link">


                                    <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/blue-icons/developer_guide.png"
                                        aria-hidden="true">
                                    <h3 class="nav-submenu-item-heading">Emergency Preparedness Resources </h3>
                                    <p class="ui-content-small">Find tools that can help you create a plan to ensure
                                        that your business is ready for anything.</p>
                                    <a href="/nycbusiness/emergency-preparedness/emergency-preparedness-resources"
                                        class="ui-content-small nav-submenu-item-faux-link-styled"
                                        aria-label="View More Emergency Preparedness Resources ">View More</a>

                                </div>
                            </li>

                        </ul>
                    </nav>
                </li>
                <li class="nav-link">
                    <a href="#" class="block-link" aria-expanded="false" aria-controls="regulations-submenu"
                        data-menu-id="menu-4">Regulations</a>
                    <nav id="regulations-submenu" role="presentation" data-submenu-for="menu-4"
                        class="nav-submenu nav-submenu-graphical-list">
                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                            aria-controls="mobile-menu-submenu">
                            <span>Back to Main Menu</span>
                        </a>
                        <h2 class="nav-submenu-title">Regulations</h2>
                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close Menu</span></a>
                        <ul class="clean-list nav-submenu-items">

                            <li>
                                <div class="block-link">


                                    <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/blue-icons/badge.png"
                                        alt="Badge" aria-hidden="true">
                                    <h3 class="nav-submenu-item-heading">Regulations Index</h3>
                                    <p class="ui-content-small">A complete index of all the licenses, permits, and other
                                        regulations that may be required to do business in New York City. </p>
                                    <a href="/nycbusiness/index"
                                        class="ui-content-small nav-submenu-item-faux-link-styled"
                                        aria-label="View More Regulations Index">View More →</a>

                                </div>
                            </li>

                        </ul>
                    </nav>
                </li>
                <li class="nav-link">
                    <a href="#" class="block-link" aria-expanded="false" aria-controls="tools-submenu"
                        data-menu-id="menu-5">Tools</a>
                    <nav id="tools-submenu" role="presentation" data-submenu-for="menu-5"
                        class="nav-submenu nav-submenu-graphical-list">
                        <a href="#" class="sub-menu-back hidden-text" data-menu-id="mobile-menu"
                            aria-controls="mobile-menu-submenu">
                            <span>Back to Main Menu</span>
                        </a>
                        <h2 class="nav-submenu-title">Tools</h2>
                        <a href="#" class="sub-menu-close hidden-text" data-menu-close><span>Close Menu</span></a>
                        <ul class="clean-list nav-submenu-items">

                            <li>
                                <div class="block-link">


                                    <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/blue-icons/checklist.png"
                                        alt="Checklist" aria-hidden="true">
                                    <h3 class="nav-submenu-item-heading">Step-by-Step Wizard </h3>
                                    <p class="ui-content-small">Use this tool to see your personalized list of City,
                                        State, and Federal licenses and permits needed to run your business. </p>
                                    <a href="/nycbusiness/wizard"
                                        class="ui-content-small nav-submenu-item-faux-link-styled"
                                        aria-label="View More Step-by-Step Wizard ">View More →</a>

                                </div>
                            </li>

                            <li>
                                <div class="block-link">


                                    <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/blue-icons/calculate.png"
                                        alt="Calculate" aria-hidden="true">
                                    <h3 class="nav-submenu-item-heading">Incentives Estimator</h3>
                                    <p class="ui-content-small">Use this tool to see your customized list of City,
                                        State, and Federal incentives and tax credits that your business may qualify
                                        for. </p>
                                    <a href="/nycbusiness/ie" class="ui-content-small nav-submenu-item-faux-link-styled"
                                        aria-label="View More Incentives Estimator">View More →</a>

                                </div>
                            </li>

                            <li>
                                <div class="block-link">


                                    <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/blue-icons/new_releases.png"
                                        alt="New releases" aria-hidden="true">
                                    <h3 class="nav-submenu-item-heading">Emergency Preparedness Self-Assessment Tool
                                    </h3>
                                    <p class="ui-content-small">Use this tool to understand risks and get tailored
                                        recommendations to improve your emergency preparedness. </p>
                                    <a href="/nycbusiness/bprep"
                                        class="ui-content-small nav-submenu-item-faux-link-styled"
                                        aria-label="View More Emergency Preparedness Self-Assessment Tool">View More
                                        →</a>

                                </div>
                            </li>

                            <li>
                                <div class="block-link">


                                    <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/blue-icons/quick_reference_all.png"
                                        alt="Quick reference" aria-hidden="true">
                                    <h3 class="nav-submenu-item-heading">Search My Transactions</h3>
                                    <p class="ui-content-small">Check the status of your business&#39;s applications and
                                        violations. </p>
                                    <a href="/nycbusiness/status"
                                        class="ui-content-small nav-submenu-item-faux-link-styled"
                                        aria-label="View More Search My Transactions">View More →</a>

                                </div>
                            </li>

                        </ul>
                    </nav>
                </li>

                <li class="nav-link">
                    <!--TODO: replace below with th:href="${pageContext.request.contextPath}/mydashboard"-->
                    <a href="/nycbusiness/mydashboard" class="block-link">My Business Dashboard</a>
                </li>
                <li class="nav-icon-link">
                    <a href="https://www.nyc.gov/home/search/index.page?search-terms=&sitesearch=https:%2f%2fnyc-business.nyc.gov%2fnycbusiness"
                        class="block-link hidden-text my-city-link">
                        <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/white-icons/search.png"
                            alt="Click here to search" />
                    </a>
                </li>
                <li class="nav-icon-link">
                    <a href="/nycbusiness/global/mycity-business-faq" class="block-link hidden-text my-city-link">
                        <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/white-icons/help.png"
                            alt="Help Icon" />
                    </a>
                </li>
                <li class="nav-icon-link">
                    <a href="https://mycity-cs-dev-origin.nyc.gov/login?language=en&amp;redirectURL=https%3A%2F%2Fbusiness-dev.csc.nycnet%2Fnycbusiness%2Flogin%3FreturnPage%3Dhowtoguide%3FreturnFrom%3Dlogin"
                        class="block-link hidden-text my-city-link">
                        <img src="https://oti-wcms-dev-publish.nyc.gov/content/dam/mycity/business/en/icons/white-icons/account_circle-1.png"
                            alt="Click here to view dashboard" />
                    </a>
                </li>

            </ul>
        </nav>
        <div class="language-toggle-wrap">
            <div class="language-toggle">

                <div id="language-selector" class="language-selector OneLinkNoTx">
                    <label for="OLJSLanguageSelector" lang="en" class="language-header translate-icon">Language</label>
                    <div class="language-selector-box menu-button-actions">
                        <button class="language-selector-button" type="button" aria-haspopup="menu"
                            aria-controls="OLJSLanguageSelector" aria-expanded="false">
                            English
                        </button>
                        <ul class="language-selector-menu" role="menu" id="OLJSLanguageSelector">
                            <li lang="en" value="oljs_default" role="menuitem">English</li>
                            <li lang="ar" value="ar." role="menuitem">العربية</li>
                            <li lang="bn" value="bn." role="menuitem">বাংলা</li>
                            <li lang="es" value="es." role="menuitem">Español</li>
                            <li lang="fr" value="fr." role="menuitem">Français</li>
                            <li lang="ht" value="ht." role="menuitem">Kreyòl</li>
                            <li lang="ko" value="ko." role="menuitem">국문</li>
                            <li lang="pl" value="pl." role="menuitem">Polski</li>
                            <li lang="ru" value="ru." role="menuitem">Русский</li>
                            <li lang="ur" value="ur." role="menuitem">اردو</li>
                            <li lang="zh" value="zh." role="menuitem">简体中文</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

   