.contact-info{
  border-top: 4px solid var(--color-5);
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-info .contact-info-container .contact-info-header{
  margin-bottom: 24px;
}

.contact-info .contact-info-container .contact-info-content h5{
    margin-bottom: 8px;
}

.contact-info .contact-info-container .contact-info-content h4{
    margin-bottom: 8px;
}

.contact-info .contact-info-container .contact-info-content p{
  line-height: 24px;
  font-weight: var(--bold-500);
  margin: 0 0 8px 0;
}

.contact-info .contact-info-container .contact-info-content p.italic{
  font-style: italic;
}

.contact-info .contact-info-container .contact-info-content p a {
  display: inline-flex;
  align-items: center;
}

.contact-info .contact-info-container .contact-info-content p a .icon{
  margin-left: 8px;
  padding-top: 8px;
}

.contact-info .contact-info-container .contact-info-content p a .icon img{
  height: 16px;
  width: 16px;
}

.section .contact-info .contact-info-header{
  display: none;
}


.section .contact-info:first-of-type .contact-info-header{
  display: block;
}