/* hero */
.regulation-index-hero {
  width: 100%;
  position: relative;
  max-height: 182px;
  background: var(--blue-filter), var(--regulation-hero-image-mobile), #d3d3d3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

h1.regulation-index-hero-text {
  position: relative;
  z-index: 10;
  color: var(--text-color-dark);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0;
}


@media (width >=810px) {
  h1.regulation-index-hero-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0;
  }


  .regulation-index-hero {
    background: var(--blue-filter), var(--regulation-hero-image-desktop), #d3d3d3;
  }
}


/* Tabs */

/* .page-regulation-index{} */

.regulation-index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

}

@media (width >=810px) {
  .regulation-index {
    grid-template-columns: 1fr 3fr;
    gap: 30px;
  }
}

/* .regulation-index .menu-regulation-index{
} */

.regulation-index .tabs {
  width: 100%;
}

/* Menu */
.menu-regulation-index ul {
  display: none;
}

.menu-regulation-index ul.mobile {
  display: block;
  position: fixed;
  z-index: 1010;
  padding: 0 16px;
  margin: 0 auto;
  left: 16px;
  right: 16px;

}


.menu-regulation-index ul.mobile li {
  display: block;
  background-color: white;
  font-weight: 400;
  font-size: 17.78px;
  line-height: 26.67px;
  letter-spacing: 0.56px;
  padding: 18px 14px;

}

.menu-regulation-index ul.mobile li:first-child {
  border-radius: 16px 16px 0 0 ;
  padding-top: 34px;
}

.menu-regulation-index ul.mobile li:last-child {
  border-radius: 0 0 16px 16px;
  padding-bottom: 34px;
}

.menu-regulation-index .mobile-button-menu {
  display: block;
  border: 2px solid #C46;
  color: #C46;
  text-align: center;
  border-radius: 4px;
  border-width: 2px;
  padding: 16px 24px;
}

@media (width >=810px) {
  .menu-regulation-index ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-regulation-index ul li {
    gap: 8px;
    padding: 16px;
    border-bottom: 1px solid #EAEEF1;
    cursor: pointer;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #0042A7;
  }

  .menu-regulation-index ul li.menu-item-active {
    border-left: 4px solid #025ADF;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0;
    color: #080707;
  }

  .menu-regulation-index .mobile-button-menu {
    display: none;
  }

}
/* tabpanel */
/* .regulation-index .tabs .tab .tab-description{}

.regulation-index .tabs .tab .tab-description p{

}
.regulation-index .tabs .tab .tab-description ul{}
.regulation-index .tabs .tab .tab-description ul li{}

.regulation-index .tabs .tab .tab-description ol{}
.regulation-index .tabs .tab .tab-description ol li{}

.regulation-index .tabs .tab .tab-additional{} */
