/* hero */
.regulation-index-hero {
  width: 100%;
  position: relative;
  height: 182px;
  background: var(--blue-filter), var(--regulation-hero-image-mobile), #d3d3d3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: grid;
  align-items: center;
  justify-content: start;
}

h1.regulation-index-hero-text {
  position: relative;
  z-index: 10;
  color: var(--text-color-dark);
  font-size: 32px;
  line-height: 48px;
}


@media (width >=810px) {
  h1.regulation-index-hero-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
  }

  .regulation-index-hero {
    background: var(--blue-filter), var(--regulation-hero-image-desktop), #d3d3d3;
    background-position: center center;
  }
}


/* Tabs */
.regulation-index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (width >=810px) {
  .regulation-index {
    grid-template-columns: 1fr 3fr;
    gap: 30px;
  }
}

.regulation-index .tabs {
  width: 100%;
}

/* Menu */
.menu-regulation-index ul {
  display: none;
}

.menu-regulation-index ul.mobile {
  display: block;
  position: fixed;
  z-index: 1010;
  padding: 0 16px;
  margin: 0 auto;
  left: 16px;
  right: 16px;

}

.menu-regulation-index ul.mobile li {
  display: block;
  background-color: white;
  font-weight: var(--bold-400);
  font-size: 17.78px;
  line-height: 26.67px;
  padding: 18px 14px;
  border-radius: 4px 0 0 4px;
}

.menu-regulation-index ul.mobile li:first-child {
  border-radius: 16px 16px 0 0;
  padding-top: 34px;
}

.menu-regulation-index ul.mobile li:last-child {
  border-radius: 0 0 16px 16px;
  padding-bottom: 34px;
}

.menu-regulation-index .mobile-button-menu {
  display: block;
  border: 2px solid var(--pink-03);
  color: var(--pink-03);
  text-align: center;
  border-radius: 4px;
  border-width: 2px;
  padding: 16px 24px;
}

@media (width >=810px) {
  .regulation-index-hero {
    max-height: 182px;
    display: block;
  }

  .menu-regulation-index ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-regulation-index ul li {
    gap: 8px;
    padding: 16px;
    border-bottom: 1px solid var(--color-5);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-13)
  }

  .menu-regulation-index ul li.menu-item-active {
    border-left: 4px solid var(--color-14);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--off-black)
  }

  .menu-regulation-index .mobile-button-menu {
    display: none;
  }

}

/* tabpanel */

.regulation-index .tabs .tab .tab-description {
  padding: 40px 0;
}

/* Removing commented out code */