.section {
  counter-reset: step;
}

/* Move counter from process-step to process-step-content */
.process-step-content {
  flex: 1;
  display: flex;
  margin-bottom: 16px;
}

.process-step-content::before {
  counter-increment: step;
  content: counter(step) ".";
  padding: 0 6px 0 0;
}

/* Hide the ::before element when there's no content after the title */
.process-step-content:has(.process-step-title + div:empty)::before {
  display: none;
}

.process-step .process-step-title:empty {
  display: none;
}

.process-step p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Removing commented out code */

.process-step .contact-info{
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
}