.did-you-mean-wrapper {
    background-color: var(--gray-02);
}

.did-you-mean-title {
    font-size: var(--heading-font-size-s);
    margin-top: 0;
    padding-bottom: 10px;
}



.did-you-mean-content .did-you-mean-button::after {
    content: "";
    background-image: url("/icons/arrow_right_alt.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    flex-shrink: 0;
}

.did-you-mean-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 10px;
}

.did-you-mean-button-item {
    margin: 0;
    padding: 0;
    display: flex;
}

.did-you-mean-button {
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.did-you-mean-button:hover {
    color: var(--color-14);
    text-decoration: underline;
}

.did-you-mean-content .did-you-mean-button {
    text-decoration: none;
    display: flex;
    font-size: var(--body-font-size-m);
    align-items: center;
}

.did-you-mean-link-container {
    display: flex;
    width: 100%;
}

.did-you-mean-link-container > .button-container {
    padding: 0;
    margin: 0;
}

.did-you-mean-text {
    font-size: var(--body-font-size-m);
    padding: 8px 0;
}

@media (width < 810px) {
    main > .section > div:has(.did-you-mean) {
        padding: 24px;
    }
}

@media (width >= 810px) {
    .did-you-mean-container-inner {
        max-width: 1224px;
        margin: 0 auto;
        padding: 24px;
    }

    .did-you-mean-wrapper {
        background-color: var(--gray-02);
        padding: 0 !important;
        max-width: none !important;
    }
}
