.tab-main-card {
  margin-bottom: 40px;
  border-bottom: 4px solid var(--color-5);
}

/* Description */
.tab-main-card .tab-main-card-description {
  margin: 0 0 40px;
}

/* Card */
.tab-main-card .tab-main-card-card {
  background: var(--color-16);
  border-radius: 16px;
  border: 1px solid var(--color-4);
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  display: grid;
  margin-bottom: 48px;
}

.tab-main-card .tab-main-card-card>div {
  display: block;
  padding: 16px;
  gap: 8px;
}

.tab-main-card .tab-main-card-card>div h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 150%;
}

.tab-main-card .tab-main-card-card>div p {
  padding: 0;
  margin: 0;
}

.tab-main-card .tab-main-card-card>div a {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: underline;
}

.icon.icon-arrow-right {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.97 19.6912L12.378 18.0618L15.803 14.6374H3.832V12.3624H15.803L12.378 8.93794L13.97 7.30859L20.167 13.4999L13.97 19.6912Z' fill='%23025ADF'/%3E%3C/svg%3E");
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 5px;
}

@media (width >=810px) {
  .tab-main-card .tab-main-card-card {
    grid-template-columns: 1fr 1fr;
  }
}