:root {
  /* colors */
  --white: #FFF;
  --background-color: var(--white);
  --text-color: #131313;
  --color-4: #D4D7DC;
  --color-5: #EAEEF1;
  --color-13: #0042A7;
  --color-14: #025ADF;
  --color-15: #ECF3FF;
  --color-16: #F9FEFF;
  --pink-03: #C46;
  --text-color-dark: #FFF;
  --gray-02: #EAEEF1;
  /* Light gray color background */
  --gray-3: #ddd;
  --off-black: #080707;
  --black: #000;
  --light-blue: #aceeff;

  /* fonts */
  --body-font-family: montserrat, "Open Sans", helvetica, arial, sans-serif;
  --heading-font-family: montserrat, "Open Sans", helvetica, arial, sans-serif;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;

  /* line Height */
  --line-height-xxl: 32px;
  --line-height-xl: 28px;
  --line-height-l: 24px;
  --line-height-m: 30px;
  --line-height-s: 27px;
  --line-height-xs: 27px;

  /* nav height */
  --nav-height: 64px;

  /* font weight */
  --bold-400: 400;
  --bold-500: 500;
  --bold-600: 600;
  --bold-700: 700;

  /* layout */
  --max-with: 1200px;
  --width: 88%;
  --query-min-width: 810px;

  /* Filter */
  --blue-filter: linear-gradient(0deg, rgb(0 66 167 / 60%) 0%, rgb(0 66 167 / 60%) 100%);

  /* Symbols (Can I remove this?) */
  --font-material: "Material Symbols Outlined", sans-serif;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  font-weight: 500;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--heading-font-family);
  font-weight: var(--bold-700);
}


h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: var(--line-height-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: var(--line-height-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
  line-height: var(--line-height-l);
}

h4 {
  font-size: var(--heading-font-size-m);
  line-height: var(--line-height-m);
}

h5 {
  font-size: var(--heading-font-size-s);
  line-height: var(--line-height-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
  line-height: var(--line-height-m);

}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

/* links */
a:any-link {
  color: var(--color-14);
  text-decoration: underline;
  overflow-wrap: break-word;
  font-weight: bold;
}

a:hover {
  color: var(--color-13);
  text-decoration: underline;
}

/* buttons */

/* a.button:any-link,
button {

}

a.button:hover,
a.button:focus,
button:hover,
button:focus {

}

button:disabled,
button:disabled:hover {

}

a.button.secondary,
button.secondary {

} */

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 0;
}

main>.section>div {
  padding: 48px 24.5px;
}

main>.section:first-of-type {
  margin-top: 0;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

/* LAYOUT */
.page {
  width: 100%;
  margin: 0;
}

.page-container {
  padding: 24px 16px;
  margin-left: auto;
  margin-right: auto;
}

.shade-background {
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.32;
  position: fixed;
}

/* Consolidated media queries */
@media (width >=810px) {
  :root {
    /* heading sizes */
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 38px;
    --heading-font-size-l: 30px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;

    /* line Height */
    --line-height-xxl: 52px;
    --line-height-xl: 52px;
    --line-height-l: 28px;
    --line-height-m: 24px;
    --line-height-s: 30px;
    --line-height-xs: 30px;
  }

  /* LAYOUT */
  main>.section>div {
    max-width: 1224px;
    margin: 0 auto;
    padding: 24px;
  }

  .page-container {
    padding-top: 60px;
    max-width: var(--max-with);
    width: var(--width);
    padding-bottom: 60px;
  }
}